<div class="header">
  <div class="header-content">
    <div class="header-nav">
      <%= image_tag 'logo.png', class: 'header-logo' %>
      <ul class="header-links">
        <li class="header-link"><a href="#">Platform</a></li>
        <li class="header-link"><a href="#">Why</a></li>
        <li class="header-link"><a href="#">Counterparty</a></li>
        <li class="header-link"><a href="#">Get Started</a></li>
        <li class="header-link"><a href="#">News</a></li>
        <li class="header-link"><a href="#">Docs</a></li>
        <li class="header-link"><a href="#">Support</a></li>
        <li class="header-link"><a href="#">Wallet</a></li>
      </ul>
    </div>

    <div class="header-aside">
      <span class="header-aside-label">
        XCP Price
      </span>
      <span class="header-aside-value">
        USD <%= 1.28 %>
      </span>
    </div>

    <div class="header-mobile-menu">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
  </div>
</div>

<div class="main-splash">
  <div class="container">
    <h1>Counterparty is a platform for free and open financial tools on the
    Bitcoin network.</h1>

    <%= image_tag 'stage-home.png' %>
  </div>
</div>
